* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  background-color: #f4f1ee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.wrap header nav a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #000;
  margin: 20px;
}
.wrap header .logo img {
  width: 90px;
}
.wrap header .btnContainer i {
  font-size: 20px;
  color: #000;
  margin: 20px;
  cursor: pointer;
}
.wrap header .menuConatiner {
  display: none;
  position: absolute;
  top: 11vh;
  width: 300px;
  height: 300px;
  background-color: #fff;
  border: 1px solid #d48a5c;
  right: 100px;
  z-index: 100;
}
.wrap header .menuConatiner nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap main {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 110px;
}
.wrap main .cartContainer {
  position: absolute;
  width: 350px;
  height: 100vh;
  background-color: #fff;
  right: 0;
  top: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap main .cartContainer .cartHeader {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 25px;
}
.wrap main .cartContainer .cartHeader i {
  font-size: 24px;
  cursor: pointer;
}
.wrap main .cartContainer .productContainer {
  width: 100%;
  height: 85vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 20px;
}
.wrap main .cartContainer .productContainer .productInCart {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f1ee;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}
.wrap main .cartContainer .productContainer .productInCart img {
  height: 150px;
}
.wrap main .cartContainer .productContainer .productInCart .textContainer {
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}
.wrap main .cartContainer .productContainer .productInCart .textContainer .name {
  font-size: 16px;
  font-weight: 600;
}
.wrap main .cartContainer .productContainer .productInCart .textContainer .bottomBlock {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 20px;
}
.wrap main .cartContainer .productContainer .productInCart .textContainer .bottomBlock .price {
  color: #4f3e22;
  font-weight: 700;
  font-size: 16px;
}
.wrap main .cartContainer .productContainer .productInCart .textContainer .bottomBlock .quantityProductContainer {
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 1px 3px #fff;
  padding: 5px;
}
.wrap main .cartContainer .productContainer .productInCart .textContainer .bottomBlock .quantityProductContainer .btnPlusProduct,
.wrap main .cartContainer .productContainer .productInCart .textContainer .bottomBlock .quantityProductContainer .btnMinusProduct {
  cursor: pointer;
}
.wrap main .cartContainer .btnContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap main .cartContainer .btnContainer button {
  padding: 10px 52px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 15px;
  border-radius: 5px;
}
.wrap main .textContainer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap main .popularCoffeeContainer {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrap main .popularCoffeeContainer .coffeeContainer {
  position: relative;
  border: 3px solid #414141;
  width: 475px;
  height: 115px;
  background: rgba(96, 58, 45, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
.wrap main .popularCoffeeContainer .coffeeContainer img {
  max-width: 37%;
  border-radius: 50%;
  position: relative;
  right: 50px;
  z-index: 3;
}
.wrap main .popularCoffeeContainer .coffeeContainer h2 {
  position: relative;
  right: 30px;
  font-family: "ZCOOL XiaoWei";
  font-weight: 400;
  font-size: calc(10px + 0.8vw);
  line-height: 217%;
  letter-spacing: 0.04em;
  color: #232020;
}
.wrap main .popularCoffeeContainer .coffeeContainer .coffeePrise {
  position: relative;
  right: 30px;
  align-self: flex-end;
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: calc(8px + 0.8vw);
  line-height: 130%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #d48a5c;
}
.wrap main .popularCoffeeContainer .coffeeContainer .btnContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(89, 89, 89, 0.7);
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}
.wrap main .popularCoffeeContainer .coffeeContainer .btnContainer button {
  margin-left: 50px;
  padding: 12px 52px;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
.wrap footer {
  width: 100%;
  min-height: 50vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap footer .topFooterContainer {
  width: 100%;
  min-height: 40vh;
  padding: 80px 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap footer .topFooterContainer .topContainer {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}
.wrap footer .topFooterContainer .topContainer .phoneContainer,
.wrap footer .topFooterContainer .topContainer .addressContainer,
.wrap footer .topFooterContainer .topContainer .emailInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #1c1a1a;
  margin: 10px;
}
.wrap footer .topFooterContainer .topContainer .phoneContainer svg,
.wrap footer .topFooterContainer .topContainer .addressContainer svg,
.wrap footer .topFooterContainer .topContainer .emailInputContainer svg {
  margin-right: 10px;
}
.wrap footer .topFooterContainer .topContainer .phoneContainer span,
.wrap footer .topFooterContainer .topContainer .addressContainer span,
.wrap footer .topFooterContainer .topContainer .emailInputContainer span {
  font-weight: 400;
}
.wrap footer .topFooterContainer .topContainer .emailInputContainer {
  position: relative;
  left: 16px;
}
.wrap footer .topFooterContainer .topContainer .emailInputContainer input {
  width: 250px;
  height: 40px;
  background: #f2eae2;
  border: none;
  outline: none;
  padding-left: 10px;
  position: relative;
  left: 16px;
}
.wrap footer .topFooterContainer .topContainer .emailInputContainer svg {
  position: relative;
  right: 16px;
  cursor: pointer;
}
.wrap footer .topFooterContainer .bottomContainer {
  width: 100%;
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap footer .topFooterContainer .bottomContainer .textContainer {
  width: 75%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.wrap footer .topFooterContainer .bottomContainer .textContainer p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #848484;
}
.wrap footer .topFooterContainer .bottomContainer .socialNetworksContainer {
  width: 100%;
  max-height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.wrap footer .topFooterContainer .bottomContainer .socialNetworksContainer .socialBox {
  margin: 10px;
  border: 1px solid #6d6d6d;
  border-radius: 4px;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap footer hr {
  width: 100%;
  height: 2px;
  background-color: #eab665;
}
.wrap footer .bottomFooterContainer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1350px) {
  .wrap header {
    padding: 0 50px;
  }
  .wrap header .menuConatiner {
    right: 50px;
  }
  .wrap main {
    padding: 0 50px;
  }
  .wrap footer .topFooterContainer {
    padding: 50px;
  }
}
@media screen and (max-width: 1210px) {
  .wrap header nav {
    display: none;
  }
  .wrap main .popularCoffeeContainer .coffeeContainer {
    width: 350px;
  }
  .wrap main .popularCoffeeContainer .coffeeContainer .btnContainer {
    width: 345px;
  }
}
@media screen and (max-width: 1000px) {
  .wrap main .popularCoffeeContainer {
    justify-content: center;
  }
}
@media screen and (max-width: 910px) {
  .wrap footer .topFooterContainer .topContainer .emailInputContainer {
    left: -16px;
  }
}
@media screen and (max-width: 700px) {
  .wrap main .popularCoffeeContainer .coffeeContainer {
    margin: 30px 0 30px 30px;
  }
  .wrap footer .topFooterContainer .bottomContainer {
    flex-direction: column;
  }
  .wrap footer .topFooterContainer .bottomContainer .textContainer {
    width: 100%;
    align-items: center;
  }
  .wrap footer .topFooterContainer .bottomContainer .socialNetworksContainer {
    justify-content: center;
    padding-top: 10px;
  }
}
@media screen and (max-width: 450px) {
  .wrap header {
    padding: 0 20px;
  }
  .wrap header .btnContainer i {
    margin: 20px;
  }
  .wrap header .menuConatiner {
    right: 0px;
  }
  .wrap main {
    padding: 0 20px;
  }
  .wrap main .popularCoffeeContainer .coffeeContainer {
    height: 90px;
  }
  .wrap footer .topFooterContainer {
    padding: 50px 20px;
  }
}/*# sourceMappingURL=popularProduct.css.map */