* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  background-color: #f4f1ee;
  display: flex;
}
.wrap header {
  width: 20%;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}
.wrap header .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap header .logo img {
  width: 40%;
}
.wrap header nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrap header nav button {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  text-align: start;
  font-size: 16px;
}
.wrap main {
  width: 80%;
  min-height: 100vh;
}
.wrap main .OredrsContainer {
  width: 100%;
  min-height: 100vh;
  display: none;
  flex-wrap: wrap;
  align-items: flex-start;
}
.wrap main .OredrsContainer .userOrderContainer {
  min-width: 300px;
  min-height: 450px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 25px;
  margin: 10px;
  border-radius: 10px;
}
.wrap main .OredrsContainer .userOrderContainer .userHeader {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 25px;
}
.wrap main .OredrsContainer .userOrderContainer .mainOrderContainer {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.wrap main .OredrsContainer .userOrderContainer .mainOrderContainer .productInCart {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f1ee;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.wrap main .OredrsContainer .userOrderContainer .mainOrderContainer .productInCart .imgContainer {
  width: 100%;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap main .OredrsContainer .userOrderContainer .mainOrderContainer .productInCart .imgContainer img {
  height: 175px;
}
.wrap main .OredrsContainer .userOrderContainer .mainOrderContainer .productInCart .textContainer {
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}
.wrap main .OredrsContainer .userOrderContainer .mainOrderContainer .productInCart .textContainer .name {
  font-size: 16px;
  font-weight: 600;
}
.wrap main .OredrsContainer .userOrderContainer .mainOrderContainer .productInCart .textContainer .bottomBlock {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap main .OredrsContainer .userOrderContainer .mainOrderContainer .productInCart .textContainer .bottomBlock .price {
  color: #4f3e22;
  font-weight: 700;
  font-size: 16px;
}
.wrap main .followersContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
}
.wrap main .followersContainer .followerHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap main .followersContainer .followerHeader button {
  margin: 10px;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  font-size: 16px;
}
.wrap main .followersContainer .followersList {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.wrap main .followersContainer .followersList .followerContainer {
  width: 100%;
  height: 75px;
  background-color: orange;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap main .followersContainer .sendMessageContactor {
  display: none;
  width: 100%;
  min-height: 90vh;
}/*# sourceMappingURL=admin.css.map */