* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.notificationContainer {
  position: fixed;
  width: 500px;
  height: 300px;
  background-color: #fffcf8;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
  border: 1px solid #eab665;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #b3b2b2;
  z-index: 1111;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.notificationContainer .durationScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.notificationContainer .durationScreen .header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notificationContainer .durationScreen .header svg {
  height: 100%;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin2 {
  0% {
    stroke-dasharray: 1, 800;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 400, 400;
    stroke-dashoffset: -200px;
  }
  100% {
    stroke-dasharray: 800, 1;
    stroke-dashoffset: -800px;
  }
}
.notificationContainer .durationScreen .header .spin2 {
  transform-origin: center;
  animation: spin2 1.5s ease-in-out infinite, spin 2s linear infinite;
  animation-direction: alternate;
}
.notificationContainer .durationScreen .loadingLaneContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.notificationContainer .durationScreen .loadingLaneContainer .statusContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notificationContainer .durationScreen .loadingLaneContainer .timerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notificationContainer .notificationTextContainer {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.notificationContainer .notificationTextContainer .notificationHeader {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notificationContainer .notificationTextContainer .notificationHeader .animate {
  width: 100%;
  height: 100%;
  display: flex;
}
.notificationContainer .notificationTextContainer .notificationHeader path {
  stroke-dasharray: 99.4757843018;
  stroke-dashoffset: -99.4757843018;
  fill: transparent;
}
.notificationContainer .notificationTextContainer .notificationHeader svg.animate path {
  animation: 3s ease forwards draw;
  opacity: 1;
}
@keyframes draw {
  0% {
    opacity: 1;
    stroke-dashoffset: -99.4757843018;
    fill: transparent;
    transform: translateY(0);
  }
  35% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    fill: #3da35a;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    fill: #3da35a;
    stroke-dashoffset: 0;
    opacity: 0;
    transform: translateY(-10px);
  }
}
.notificationContainer .notificationTextContainer .notification {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  background-color: #f4f1ee;
  display: flex;
}
.wrap header {
  width: 20%;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  box-shadow: 0 0 5px 1px #000;
}
.wrap header .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap header .logo img {
  width: 40%;
}
.wrap header nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrap header nav button {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  text-align: start;
  font-size: 16px;
}
.wrap main {
  width: 80%;
  min-height: 100vh;
}
.wrap main .OredrsContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.wrap main .OredrsContainer .userOrderContainer {
  width: 100%;
  min-height: 450px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 25px;
  margin: 10px;
  border-radius: 10px;
}
.wrap main .OredrsContainer .userOrderContainer .userHeader {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}
.wrap main .OredrsContainer .userOrderContainer .userHeader h2 {
  margin-right: 10px;
}
.wrap main .OredrsContainer .userOrderContainer .mainOrderContainer {
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.wrap main .OredrsContainer .userOrderContainer .mainOrderContainer .productInCart {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f1ee;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.wrap main .OredrsContainer .userOrderContainer .mainOrderContainer .productInCart .imgContainer {
  width: 100%;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap main .OredrsContainer .userOrderContainer .mainOrderContainer .productInCart .imgContainer img {
  height: 175px;
}
.wrap main .OredrsContainer .userOrderContainer .mainOrderContainer .productInCart .textContainer {
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}
.wrap main .OredrsContainer .userOrderContainer .mainOrderContainer .productInCart .textContainer .name {
  font-size: 16px;
  font-weight: 600;
}
.wrap main .OredrsContainer .userOrderContainer .mainOrderContainer .productInCart .textContainer .bottomBlock {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap main .OredrsContainer .userOrderContainer .mainOrderContainer .productInCart .textContainer .bottomBlock .price {
  color: #4f3e22;
  font-weight: 700;
  font-size: 16px;
}
.wrap main .followersContainer {
  width: 100%;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
}
.wrap main .followersContainer .followerHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap main .followersContainer .followerHeader button {
  margin: 10px;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  font-size: 16px;
}
.wrap main .followersContainer .followersList {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.wrap main .followersContainer .followersList .followerContainer {
  width: 100%;
  height: 75px;
  background-color: #F28500;
  border-radius: 10px;
  padding: 0 0 0 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap main .followersContainer .followersList .followerContainer h2 {
  font-size: 24px;
  color: #fff;
}
.wrap main .followersContainer .followersList .followerContainer p {
  font-size: 16px;
  color: #fff;
}
.wrap main .followersContainer .followersList .followerContainer .deleteFollowerBtn {
  width: 75px;
  background-color: #cc0000;
  height: 75px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.wrap main .followersContainer .followersList .followerContainer .deleteFollowerBtn:hover {
  background-color: #ff0000;
}
.wrap main .followersContainer .sendMessageContactor {
  width: 100%;
  min-height: 90vh;
  display: none;
  flex-direction: column;
  align-items: center;
}
.wrap main .followersContainer .sendMessageContactor textarea {
  width: 70%;
  height: 400px;
  resize: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border: none;
  box-shadow: 0 0 5px 1px #000;
  border-radius: 10px;
  margin: 10px;
}
.wrap main .followersContainer .sendMessageContactor .btnContainer {
  width: 70%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.wrap main .followersContainer .sendMessageContactor .btnContainer button {
  padding: 10px 52px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #000;
}
.wrap main .followersContainer .sendMessageContactor .btnContainer button span {
  position: absolute;
  margin-left: 80px;
  margin-top: -30px;
  width: 25px;
  height: 25px;
  background-color: #cb2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}/*# sourceMappingURL=admin.css.map */