* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    background-color: #f4f1ee;
    display: flex;

    header {
        width: 20%;
        background-color: #fff;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        box-shadow: 0 0 5px 1px #000;

        .logo {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 40%;
            }
        }

        nav {
            width: 100%;
            display: flex;
            flex-direction: column;

            button {
                width: 100%;
                padding: 10px 20px;
                margin: 10px 0;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                color: #fff;
                background-color: #000;
                text-align: start;
                font-size: 16px;
            }
        }
    }

    main {
        width: 80%;
        min-height: 100vh;

        .OredrsContainer {
            width: 100%;
            min-height: 100vh;
            display: none;
            flex-wrap: wrap;
            align-items: flex-start;

            .userOrderContainer {
                min-width: 300px;
                min-height: 450px;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px 25px;
                margin: 10px;
                border-radius: 10px;

                .userHeader {
                    width: 100%;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    padding: 0 25px;
                }

                .mainOrderContainer {
                    width: 100%;
                    min-height: 400px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    .productInCart {
                        width: 250px;
                        height: 300px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        background-color: #f4f1ee;
                        border-radius: 10px;
                        padding: 10px;
                        margin: 10px;


                        .imgContainer {
                            width: 100%;
                            height: 175px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                height: 175px;
                            }
                        }

                        .textContainer {
                            width: 70%;
                            height: 150px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding: 20px 0;

                            .name {
                                font-size: 16px;
                                font-weight: 600;
                            }

                            .bottomBlock {
                                width: 100%;
                                height: 50px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .price {
                                    color: #4f3e22;
                                    font-weight: 700;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .followersContainer {
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 100px;

            .followerHeader {
                width: 100%;
                height: 10vh;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    margin: 10px;
                    padding: 10px 40px;
                    border: none;
                    border-radius: 5px;
                    color: #fff;
                    background-color: #000;
                    cursor: pointer;
                    font-size: 16px;
                }
            }

            .followersList {
                width: 100%;
                min-height: 90vh;
                display: none;
                flex-direction: column;
                align-items: center;
                overflow: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;

                .followerContainer {
                    width: 100%;
                    height: 75px;
                    background-color: orange;
                    border-radius: 10px;
                    padding: 10px;
                    margin: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            .sendMessageContactor {
                display: flex;
                width: 100%;
                min-height: 90vh;
                display: flex;
                flex-direction: column;
                align-items: center;

                textarea {
                    width: 70%;
                    height: 400px;
                    resize: none;
                    outline: none;
                    padding: 10px;
                    font-size: 16px;
                    border: none;
                    box-shadow: 0 0 5px 1px #000;
                    border-radius: 10px;
                    margin: 10px;
                }
                
                .btnContainer {
                    width: 70%;
                    height: 70px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 10px;

                    button {
                        padding: 10px 52px;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                        color: #fff;
                        background-color: #000;

                        span {
                            position: absolute;
                            margin-left: 80px;
                            margin-top: -30px;
                            width: 25px;
                            height: 25px;
                            background-color: #cb2c2c;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}