* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.orderVerificationPopup {
  display: none;
  width: 300px;
  height: 240px;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  z-index: 50;
  opacity: 1;
  box-shadow: 0 0 5px 2px #333;
}
.orderVerificationPopup .animate {
  width: 100%;
  height: 100%;
  display: flex;
}
.orderVerificationPopup path {
  stroke-dasharray: 99.4757843018;
  stroke-dashoffset: -99.4757843018;
  fill: transparent;
}
.orderVerificationPopup svg.animate path {
  animation: 1.7s ease forwards draw;
  opacity: 1;
}
@keyframes draw {
  0% {
    opacity: 1;
    stroke-dashoffset: -99.4757843018;
    fill: transparent;
    transform: translateY(0);
  }
  35% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    fill: #3da35a;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    fill: #3da35a;
    stroke-dashoffset: 0;
    opacity: 0;
    transform: translateY(-10px);
    display: none;
  }
}

.notificationContainer {
  position: fixed;
  max-width: 100%;
  height: 75px;
  background-color: #fffcf8;
  bottom: 10px;
  right: 10px;
  border: 1px solid #eab665;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #b3b2b2;
  z-index: 1111;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 0 20px;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  background-color: #f4f1ee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.wrap header nav a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #000;
  margin: 20px;
}
.wrap header .logo img {
  width: 90px;
}
.wrap header .btnContainer i {
  font-size: 20px;
  color: #000;
  margin: 20px;
  cursor: pointer;
}
.wrap header .menuConatiner {
  display: none;
  position: absolute;
  top: 11vh;
  width: 300px;
  height: 300px;
  background-color: #fff;
  border: 1px solid #d48a5c;
  right: 100px;
}
.wrap header .menuConatiner nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap main {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 110px;
}
.wrap main .cartContainer {
  position: fixed;
  width: 350px;
  height: 100vh;
  background-color: #fff;
  right: 0;
  top: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.wrap main .cartContainer .cartHeader {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 25px;
}
.wrap main .cartContainer .cartHeader i {
  font-size: 24px;
  cursor: pointer;
}
.wrap main .cartContainer .productContainer {
  width: 100%;
  height: 85vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 20px;
}
.wrap main .cartContainer .productContainer .productInCart {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f1ee;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}
.wrap main .cartContainer .productContainer .productInCart img {
  height: 100px;
}
.wrap main .cartContainer .productContainer .productInCart .textContainer {
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}
.wrap main .cartContainer .productContainer .productInCart .textContainer .name {
  font-size: 16px;
  font-weight: 600;
}
.wrap main .cartContainer .productContainer .productInCart .textContainer .bottomBlock {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 20px;
}
.wrap main .cartContainer .productContainer .productInCart .textContainer .bottomBlock .price {
  color: #4f3e22;
  font-weight: 700;
  font-size: 16px;
}
.wrap main .cartContainer .productContainer .productInCart .textContainer .bottomBlock .quantityProductContainer {
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 1px 3px #fff;
  padding: 5px;
}
.wrap main .cartContainer .productContainer .productInCart .textContainer .bottomBlock .quantityProductContainer .btnPlusProduct,
.wrap main .cartContainer .productContainer .productInCart .textContainer .bottomBlock .quantityProductContainer .btnMinusProduct {
  cursor: pointer;
}
.wrap main .cartContainer .btnContainer {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.wrap main .cartContainer .btnContainer input {
  border: none;
  border-bottom: 1.5px solid #232020;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
}
.wrap main .cartContainer .btnContainer button {
  padding: 10px 52px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 15px;
  border-radius: 5px;
}
.wrap main .textContainer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap main .cardContainer {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrap main .cardContainer .card {
  border: 1px solid #fff;
  width: 350px;
  height: 454px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  margin: 10px;
}
.wrap main .cardContainer .card .imgBox {
  width: 303px;
  height: 267px;
  background: #13131a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap main .cardContainer .card .imgBox img {
  margin-left: 20px;
}
.wrap main .cardContainer .card .rating {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.04em;
  color: #1c1a1a;
}
.wrap main .cardContainer .card h2 {
  font-family: "ZCOOL XiaoWei";
  font-weight: 400;
  font-size: 24px;
  line-height: 271%;
  letter-spacing: 0.04em;
  color: #1c1a1a;
}
.wrap main .cardContainer .card .priceAndBtnContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrap main .cardContainer .card .priceAndBtnContainer p {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.04em;
  color: #1c1a1a;
}
.wrap main .cardContainer .card .priceAndBtnContainer p span {
  color: #eab665;
}
.wrap main .cardContainer .card .priceAndBtnContainer button {
  padding: 10px 42px;
  border-radius: 5px;
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
}
.wrap footer {
  width: 100%;
  min-height: 50vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap footer .topFooterContainer {
  width: 100%;
  min-height: 40vh;
  padding: 80px 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap footer .topFooterContainer .topContainer {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}
.wrap footer .topFooterContainer .topContainer .phoneContainer,
.wrap footer .topFooterContainer .topContainer .addressContainer,
.wrap footer .topFooterContainer .topContainer .emailInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #1c1a1a;
  margin: 10px;
}
.wrap footer .topFooterContainer .topContainer .phoneContainer svg,
.wrap footer .topFooterContainer .topContainer .addressContainer svg,
.wrap footer .topFooterContainer .topContainer .emailInputContainer svg {
  margin-right: 10px;
}
.wrap footer .topFooterContainer .topContainer .phoneContainer span,
.wrap footer .topFooterContainer .topContainer .addressContainer span,
.wrap footer .topFooterContainer .topContainer .emailInputContainer span {
  font-weight: 400;
}
.wrap footer .topFooterContainer .topContainer .emailInputContainer {
  position: relative;
  left: 16px;
}
.wrap footer .topFooterContainer .topContainer .emailInputContainer input {
  width: 250px;
  height: 40px;
  background: #f2eae2;
  border: none;
  outline: none;
  padding-left: 10px;
  position: relative;
  left: 16px;
}
.wrap footer .topFooterContainer .topContainer .emailInputContainer svg {
  position: relative;
  right: 16px;
  cursor: pointer;
}
.wrap footer .topFooterContainer .bottomContainer {
  width: 100%;
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap footer .topFooterContainer .bottomContainer .textContainer {
  width: 75%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.wrap footer .topFooterContainer .bottomContainer .textContainer p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #848484;
}
.wrap footer .topFooterContainer .bottomContainer .socialNetworksContainer {
  width: 100%;
  max-height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.wrap footer .topFooterContainer .bottomContainer .socialNetworksContainer .socialBox {
  margin: 10px;
  border: 1px solid #6d6d6d;
  border-radius: 4px;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap footer hr {
  width: 100%;
  height: 2px;
  background-color: #eab665;
}
.wrap footer .bottomFooterContainer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1350px) {
  .wrap header {
    padding: 0 50px;
  }
  .wrap header .menuConatiner {
    right: 50px;
  }
  .wrap main {
    padding: 0 50px;
  }
  .wrap footer .topFooterContainer {
    padding: 50px;
  }
}
@media screen and (max-width: 1210px) {
  .wrap header nav {
    display: none;
  }
}
@media screen and (max-width: 910px) {
  .wrap footer .topFooterContainer .topContainer .emailInputContainer {
    left: -16px;
  }
}
@media screen and (max-width: 860px) {
  .wrap main .cardContainer {
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  .wrap footer .topFooterContainer .bottomContainer {
    flex-direction: column;
  }
  .wrap footer .topFooterContainer .bottomContainer .textContainer {
    width: 100%;
    align-items: center;
  }
  .wrap footer .topFooterContainer .bottomContainer .socialNetworksContainer {
    justify-content: center;
    padding-top: 10px;
  }
}
@media screen and (max-width: 450px) {
  .wrap header {
    padding: 0 20px;
  }
  .wrap header .btnContainer i {
    margin: 20px;
  }
  .wrap header .menuConatiner {
    right: 0px;
  }
  .wrap main {
    padding: 0 20px;
  }
  .wrap main .cartContainer {
    width: 100%;
  }
  .wrap main .cartContainer .productContainer {
    padding: 0 50px;
  }
  .wrap main .cartContainer .productContainer .productInCart img {
    width: 30%;
  }
  .wrap main .cartContainer .productContainer .productInCart .textContainer .bottomBlock {
    padding: 0 10px 0 40px;
  }
  .wrap main .cartContainer .productContainer .productInCart .textContainer .bottomBlock .quantityProductContainer {
    width: 50%;
  }
  .wrap footer .topFooterContainer {
    padding: 50px 20px;
  }
}
@media screen and (max-width: 400px) {
  .wrap main .cartContainer .productContainer {
    padding: 0 20px;
  }
}/*# sourceMappingURL=bestProduct.css.map */