* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    background-color: #f4f1ee;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px;

        nav {
            a {
                text-decoration: none;
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 0.04em;
                text-align: center;
                color: #000;
                margin: 20px;
            }
        }

        .logo {
            img {
                width: 90px;
            }
        }

        .btnContainer {
            i {
                font-size: 20px;
                color: #000;
                margin: 20px;
                cursor: pointer;
            }
        }

        .menuConatiner {
            display: none;
            position: absolute;
            top: 11vh;
            width: 300px;
            height: 300px;
            background-color: #fff;
            border: 1px solid #d48a5c;
            right: 100px;

            nav {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    main {
        width: 100%;
        min-height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 110px;

        .textContainer {
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cardContainer {
            width: 100%;
            min-height: 75vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .card {
                border: 1px solid #fff;
                width: 350px;
                height: 454px;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 24px;
                margin: 10px;

                .imgBox {
                    width: 303px;
                    height: 267px;
                    background: #13131a;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        margin-left: 20px;
                    }
                }

                .rating {
                    font-family: 'Open Sans';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 162%;
                    letter-spacing: 0.04em;
                    color: #1c1a1a;
                }

                h2 {
                    font-family: 'ZCOOL XiaoWei';
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 271%;
                    letter-spacing: 0.04em;
                    color: #1c1a1a;
                }

                p {
                    font-family: 'Open Sans';
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 162%;
                    letter-spacing: 0.04em;
                    color: #1c1a1a;

                    span {
                        color: #eab665;
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        min-height: 50vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .topFooterContainer {
            width: 100%;
            min-height: 40vh;
            padding: 80px 170px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .topContainer {
                width: 100%;
                min-height: 10vh;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                margin: 10px;

                .phoneContainer,
                .addressContainer,
                .emailInputContainer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: 'Open Sans';
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 186%;
                    letter-spacing: 0.04em;
                    color: #1c1a1a;
                    margin: 10px;

                    svg {
                        margin-right: 10px;
                    }

                    span {
                        font-weight: 400;
                    }
                }

                .emailInputContainer {
                    position: relative;
                    left: 16px;

                    input {
                        width: 250px;
                        height: 40px;
                        background: #f2eae2;
                        border: none;
                        outline: none;
                        padding-left: 10px;
                        position: relative;
                        left: 16px;
                    }

                    svg {
                        position: relative;
                        right: 16px;
                        cursor: pointer;
                    }
                }
            }

            .bottomContainer {
                width: 100%;
                min-height: 20vh;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .textContainer {
                    width: 75%;
                    height: 20vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    p {
                        font-family: 'Open Sans';
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 186%;
                        letter-spacing: 0.04em;
                        color: #848484;
                    }
                }

                .socialNetworksContainer {
                    width: 100%;
                    max-height: 20vh;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .socialBox {
                        margin: 10px;
                        border: 1px solid #6d6d6d;
                        border-radius: 4px;
                        width: 46px;
                        height: 46px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        hr {
            width: 100%;
            height: 2px;
            background-color: #eab665;
        }

        .bottomFooterContainer {
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 1350px) {
    .wrap {
        header {
            padding: 0 50px;

            .menuConatiner {
                right: 50px;
            }
        }

        main {
            padding: 0 50px;
        }

        footer {
            .topFooterContainer {
                padding: 50px;
            }
        }
    }
}

@media screen and (max-width: 1210px) {
    .wrap {
        header {
            nav {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 910px) {
    .wrap {

        footer {
            .topFooterContainer {
                .topContainer {
                    .emailInputContainer {
                        left: -16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 860px) {
    .wrap {
        main {
            .cardContainer {
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .wrap {
        footer {
            .topFooterContainer {
                .bottomContainer {
                    flex-direction: column;

                    .textContainer {
                        width: 100%;
                        align-items: center;
                    }

                    .socialNetworksContainer {
                        justify-content: center;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .wrap {
        header {
            padding: 0 20px;

            .btnContainer {
                i {
                    margin: 20px;
                }
            }

            .menuConatiner {
                right: 0px;
            }
        }

        main {
            padding: 0 20px;
        }

        footer {
            .topFooterContainer {
                padding: 50px 20px;
            }
        }
    }
}